<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- Launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- Vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- Vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <!-- Имя модели БЛА, под которую уже есть скрипт для запуска -->
    <arg name="vehicle" default="iris"/>
    <!-- <arg name="my_vehicle" default="iris_opt_flow"/> -->
    <!-- <arg name="my_vehicle" default="iris_fpv_cam"/> -->
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/iris_maze.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- Gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>

    <!-- PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- ГЕНЕРАЦИЯ ПРЕПЯТСТВИЙ (ЛЕСА) ДЛЯ ДИПЛОМА -->
    <!-- Препятствие 1 -->
    <node name="spawn_tree_1" pkg="gazebo_ros" type="spawn_model" 
          args="-sdf -file $(find mavlink_sitl_gazebo)/models/box/box.sdf -model tree_1 -x 5.0 -y 3.0 -z 0" output="screen"/>

    <!-- Препятствие 2 -->
    <node name="spawn_tree_2" pkg="gazebo_ros" type="spawn_model" 
          args="-sdf -file $(find mavlink_sitl_gazebo)/models/box/box.sdf -model tree_2 -x -4.0 -y 6.0 -z 0" output="screen"/>

    <!-- Препятствие 3 -->
    <node name="spawn_tree_3" pkg="gazebo_ros" type="spawn_model" 
          args="-sdf -file $(find mavlink_sitl_gazebo)/models/box/box.sdf -model tree_3 -x 2.0 -y 8.0 -z 0" output="screen"/>

    <!-- Препятствие 4 -->
    <node name="spawn_tree_4" pkg="gazebo_ros" type="spawn_model" 
          args="-sdf -file $(find mavlink_sitl_gazebo)/models/box/box.sdf -model tree_4 -x -3.0 -y 11.0 -z 0" output="screen"/>

    <!-- Препятствие 5 -->
    <node name="spawn_tree_5" pkg="gazebo_ros" type="spawn_model" 
          args="-sdf -file $(find mavlink_sitl_gazebo)/models/box/box.sdf -model tree_5 -x 4.0 -y 14.0 -z 0" output="screen"/>
</launch>
